<div class="aristilia chat-card damage">
  <header class="card-header">
    <h3>{{label}}</h3>
  </header>
  <div class="card-roll">
    <div class="dice-formula">{{formula}}</div>
    <div class="dice-total">{{total}}</div>
  </div>
</div>
